@()

@inHead = {
<script language="javascript">
  $(function(){
    $("#todaysLunches").load("@routes.LunchInfo.todaysLunches()", function(response, status, xhr) {
      if (status == "error") {
        var msg = "Tyvärr uppstod ett fel: ";
        $("#todaysLunches").html("<div class=\"alert alert-error\"><b>Fel!</b> " + msg + xhr.status + " " + xhr.statusText + "</div>");
      }
    });
  });
</script>
}

@layouts.main(title = "Dagens lunch", inHead = inHead) {

  <h1>Dagens luncher för Stockholms Universitet</h1>

  <div id="todaysLunches">
    Hämtar dagens luncher...
    <div class="progress progress-striped active" style="max-width: 350px;">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>


}