@(todaysLunches: Seq[(model.Restaurant, Try[Seq[model.Meal]])])
@import scala.util._
@import model._

@for((restaurant, meals) <- todaysLunches) {

  <h4><a href="@restaurant.url"><i class="icon-home"></i> @restaurant.name</a></h4>

  @meals match {
    case Success(meals: Seq[Meal]) => {

      <ul class="meals">
        @for(meal <- meals) {
        <li>@meal.description</li>
        }
      </ul>
    }
    case Success(_) => {
      <div class="">Inga luncher funna.</div>
    }
    case Failure(error) => {
      <div class="alert alert-error"><b>Fel uppstod vid hämtning av lunchinformation!</b><br />@error</div>
    }
  }

}
