@(todaysLunches: Seq[(model.Restaurant, Any)])
@import model._

@for((restaurant, meals) <- todaysLunches) {

  <h4 style="padding-left: 8px;"><a href="@restaurant.url"><i class="icon-home"></i> @restaurant.name</a></h4>

  @meals match {
    case meals: Seq[Meal] => {

      <ul class="meals">
        @for(meal <- meals) {
        <li>@meal.description</li>
        }
      </ul>

    }
    case e: Exception => {
      <div class="alert alert-error"><b>Fel uppstod vid hämtning av lunchinformation!</b><br />@e</div>
    }
    case _ => {
      <div class="">Inga luncher funna.</div>
    }
  }

}
